In [9]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

In [18]:
df=pd.read_csv('img/data/avg_skills_by_track_ssoc4d_year.csv')

In [19]:
df.columns

Index(['ssoc4d', 'year', 'track', 'avg_skills_required_per_track'], dtype='object')

In [20]:
df['ssoc1d']=df['ssoc4d'].apply(lambda x: str(x)[0])
df.sort_values(by=['track','year'],ascending=True,inplace=True)
df['year']=df['year'].apply(str)

In [5]:
df1=df[df['ssoc1d']=='1']
df2=df[df['ssoc1d']=='2']
df3=df[df['ssoc1d']=='3']

In [6]:
dflist=[df1,df2,df3]
for idx, df in enumerate(dflist):

    sns.set_style('whitegrid')

    fig, axs = plt.subplots(1, 5,figsize=(17,7))
    ssoclist=df['ssoc4d'].unique().tolist()
    subtracks=df['track'].unique().tolist()

    g1=sns.lineplot(data=df[df['ssoc4d']==ssoclist[0]], x='year', y='avg_skills_required_per_track', hue='track', palette='Set2',ax=axs[0])
    g2=sns.lineplot(data=df[df['ssoc4d']==ssoclist[1]], x='year', y='avg_skills_required_per_track', hue='track', palette='Set2',ax=axs[1])
    g3=sns.lineplot(data=df[df['ssoc4d']==ssoclist[2]], x='year', y='avg_skills_required_per_track', hue='track', palette='Set2',ax=axs[2])
    g4=sns.lineplot(data=df[df['ssoc4d']==ssoclist[3]], x='year', y='avg_skills_required_per_track', hue='track', palette='Set2',ax=axs[3])
    g5=sns.lineplot(data=df[df['ssoc4d']==ssoclist[4]], x='year', y='avg_skills_required_per_track', hue='track', palette='Set2',ax=axs[4])

    for i,ssoc in enumerate(ssoclist):
        axs[i].set_title('SSOC4D '+str(ssoclist[i]))
        axs[i].legend(title='Track',loc='upper center', bbox_to_anchor=(0.5, -0.1))

        sns.despine(top=True, right=True,left=True)

        if i==2:
            axs[i].set_xlabel("Year")
        else:
            axs[i].set_xlabel("")

        if i==0:
            axs[i].set_ylabel("Average number of skills required per job posting")
        else:
            axs[i].set_ylabel('')

    fig.suptitle('Average number of digital skills within each main track required per job posting in SSOC Group {}'.format(str(idx+1)))

    plt.tight_layout()
    plt.savefig('img/top_ssoc{}_track_skill_avg_by_year.png'.format(str(idx+1)))
    plt.close()

In [21]:
df

     ssoc4d  year          track  avg_skills_required_per_track ssoc1d
11     3349  2018  cybersecurity                       1.193370      3
35     2512  2018  cybersecurity                       1.821738      2
59     3999  2018  cybersecurity                       2.731946      3
83     3329  2018  cybersecurity                       1.873003      3
103    2149  2018  cybersecurity                       1.896324      2
..      ...   ...            ...                            ...    ...
261    1120  2021        support                       2.866387      1
283    2909  2021        support                       3.086504      2
308    1321  2021        support                       4.183752      1
333    1412  2021        support                       2.896999      1
359    3322  2021        support                       2.865424      3

[360 rows x 5 columns]

In [22]:
# delta
temp=df[df['year'].isin(['2018','2021'])]
temp.sort_values(by=['ssoc4d','track','year'],inplace=True)
temp['delta']=temp[['avg_skills_required_per_track']].diff() # change in avg from 2018 to 2021 (negative means decrease in avg)
temp=temp[temp['year']=='2021']
temp

<ipython-input-22-6e91788379d6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.sort_values(by=['ssoc4d','track','year'],inplace=True)
<ipython-input-22-6e91788379d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['delta']=temp[['avg_skills_required_per_track']].diff() # change in avg from 2018 to 2021 (negative means decrease in avg)

,ssoc4d,year,track,avg_skills_required_per_track,ssoc1d,delta
263,1120,2021,cybersecurity,1.646786,1,-1.722480
262,1120,2021,data,2.782860,1,-2.324648
258,1120,2021,infrastructure,5.008830,1,-3.153016
259,1120,2021,software,9.202664,1,-6.666749
260,1120,2021,strategy,7.064563,1,-5.405201
...,...,...,...,...,...,...
66,3999,2021,data,2.176028,3,-2.091308
68,3999,2021,infrastructure,3.788319,3,-2.727224
69,3999,2021,software,6.342001,3,-6.142934
70,3999,2021,strategy,4.133367,3,-4.205705
67,3999,2021,support,2.864195,3,-1.570286

In [26]:
print(temp.groupby(['track'])['delta'].mean().sort_values())

track
software         -3.922072
strategy         -2.867024
infrastructure   -1.568139
data             -1.050186
cybersecurity    -0.882504
support          -0.687762
Name: delta, dtype: float64